.main {
  .new_room {
    background-color: #ccc;
  }
  .actions {
    &:hover {
      color: red;
      background-color: blue;
    }
  }
}
header {
  background-color: orange;
  li {
    display: inline-block;
  }
}

footer {
  background-color: orange;
  bottom: 0;
}
