<h1 class="my-3 py-3">予約管理のページへようこそ</h1>
<h2>本日のアクセス時刻: <%= Time.current.strftime("%Y 年 %m 月 %d 日 %H 時 %M 分 %S 秒") %></h2>
<p>こちらは会議室予約システムの予約ページです．</p>
<% if logged_in? %>
  <p><%= link_to '会議室予約システム予約ページはこちら', rooms_path %></p>
<% end %>
